@model SaaS.Client.Projections.Registration.RegistrationView


@if (Model == null)
{
    <span>Waiting for registration</span>
}
else
{
    if (Model.Completed)
    {
        if (Model.HasProblems)
        {
            <div class="alert-message warning alert-block">
                @Html.Encode(Model.Problem)
            </div>
            <input type="submit"  title="Go Back" />
    
        }
        else
        {
            <div class="alert-message success alert-block">
                <p>
                    Registration completed!
                </p>
                <a href="@Url.Action("finish",new {id = Model.Registration.Id})" id="finish">Click to proceed</a>
                <script type="text/javascript">
                    document.location = '@Url.Action("finish",new {id = Model.Registration.Id})';
                </script>
            </div>
  
        }
    }
    else
    {

    }
    @Model.Status;
                 
                 
}