@model SaaS.Client.Projections.Releases.RegisteredUsers

@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="span6">
            <table class="table table-bordered table-condensed table-striped">
                <thead>
                    <th>User</th>
                </thead>
                <tbody>
                    @foreach (var usr in Model.Items)
                    {
                        <tr>
                            <td>@Html.Encode(usr.Login)</td>
                        </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>
</div>


